.Form {
    display: flex;
    flex-direction: column;
}

.Button {
    background-color: cadetblue;
    margin-top: 5px;
}

.Input {
    margin: 5px;
}

.paperStyle {
    padding: 10px 20px 20px 20px;
    margin: 20px auto;
    text-align: center;
    opacity: 0.95;
}

.header {
    font-family: "Brush Script MT", cursive;
    font-size: 40px;
}

.Error{
    color: rgba(200,12,8,0.76);
    margin-bottom: 0;
}