.Header{
    background-color: cadetblue;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.Icon{
    font-size: 40px;
    margin: 20px;
}

.btn{
    background: cadetblue;
    border: 0;
    font-family: Arial, cursive;
    margin-left: 10px;
}

.avatar{
    display: flex;
}